
body {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

section {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: center;
  letter-spacing: .05em;
  min-height: 200px;
}

.main-content {
  background-color: rgba(35, 37, 61, 1);
  order: -2;
  padding: 20px 30px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 50px;
  margin: 25px 0;
}

.blurb {
  font-size: 38px;
  line-height: 1.2;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  margin: 10px;
}

button {
  background-color: #D49C97;
  border: none;
  border-radius: 40px;
  color: rgba(35, 37, 61, 1);
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  width: 325px;
}

span {
  font-size: 40px;
  letter-spacing: .1em;
  padding-top: 2%;
}

.hero {
  background: url(../assets/neil.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  order: -1;
  width: 100%;
}

.icon img {
  margin-bottom: 15px;
}

h3 {
  margin-top: 10px;
  text-align: center;
}

.arrows {
  display: flex;
  flex: 1.5;
  justify-content: space-between;
}

.right {
  margin-right: 20px;
}

.left {
  margin-left: 20px;
}

.ovals-area {
  flex: 1;
  height: 50px;
  margin: 25px;
}

.three-ovals {
  float: right;
}

.section-two {
  background-color: #23253D;
}

.section-three {
  background-color: #343F5C;
}

.section-four{
  background-color: #5D435B;
}

.section-five {
  background-color: #AC5355;
}

.section-six {
  background-color: #D49C97;
}

.section-seven {
  background-color: #B69080;
}

.section-eight {
  background-color: #343F5C;
}
